In [50]:
import os

os.listdir(r"C:\Users\Kashish\Downloads")

['.ipynb_checkpoints',
 '03. (Window Users Only) Installing Git Bash.mp4',
 '07. Making Directories.mp4',
 '09. Touch Command.mp4',
 '1737701348Data structure.pptx',
 '1751133745255.jpeg',
 '17585582860904941W-01.pdf',
 '2022_2026_Project_Synopsis (1).pdf',
 '2022_2026_Project_Synopsis (2).pdf',
 '2022_2026_Project_Synopsis (3).pdf',
 '2022_2026_Project_Synopsis.pdf',
 '2022_2026_Project_Synopsis.zip',
 '33. Terminal.zip',
 '34. Git & Github.zip',
 '38. Miscellaneous.zip',
 '39. Backend 4 (REST).zip',
 'Adnan Ali  8318213290.pdf',
 'Adnan Ali (1).pdf',
 'Adnan Ali (2).pdf',
 'Adnan Ali cover letter microsoft_2025-08-12T09_16_06.5121471Z.pdf',
 'Adnan Ali.pdf',
 'adnan resume (1).pdf',
 'adnan resume.pdf',
 'Adnan_Ali_Business_Analyst_Edoofa.docx',
 'Adnan_Ali_Business_Analyst_Edoofa.pdf',
 'Adnan_Ali_Campus_Ambassador.docx',
 'Adnan_Ali_Campus_Ambassador.pdf',
 'Adnan_Ali_Cover_Letter_SHL.docx',
 'Adnan_Ali_Cover_Letter_SHL.pdf',
 'Adnan_Ali_IBM_SkillsBuild_AI_Internship_Testimonials.docx',
 'Adnan_Ali_QA_Fresher_Resume.docx',
 'Adnan_Ali_Resume_Guenstiger_India.docx',
 'Adnan_Ali_Resume_Guenstiger_India_Format (1).pdf',
 'Adnan_Ali_Resume_Guenstiger_India_Format (2).pdf',
 'Adnan_Ali_Resume_Guenstiger_India_Format.pdf',
 'Adnan_Ali_Resume_Guenstiger_India_FORMAT_Exact.pdf',
 'Adnan_Ali_Updated_Resume.docx',
 'AI & data science tech internship.pdf',
 'Ajay kumar garg Engineering College.pdf',
 'AKGEC_1_0.png',
 'Anaconda3-2025.06-0-Windows-x86_64.exe',
 'AntiraggingAffidavitForm.pdf',
 'App Development Tasks & Instructions ‚Äî CodeAlpha.pdf',
 'AssessmentResults.xlsx',
 'b.tech-it-batchno-69.docx',
 'Bairiyaaüòç.mp4',
 'bg.jpg',
 'BWESGlobQRBojT.conf',
 'c2e3a204-9ac0-45ee-82db-4056d4ceafb1.pdf',
 'CAT 2024 Slot 1 Question Paper by Cracku.pdf',
 'Certificate (1).pdf',
 'Certificate (2).pdf',
 'Certificate.pdf',
 'ChatGPT Image Jul 28, 2025, 12_56_39 PM.png',
 'ChromeSetup.exe',
 'comet_installer_latest.exe',
 'consent-document (1).pdf',
 'consent-document.pdf',
 'customer_shopping_behavior.csv',
 'daikibo-telemetry-data.json.zip',
 'data.zip',
 'Data_Analyst_Fresher_Resume (1).docx',
 'Data_Analyst_Fresher_Resume.docx',
 'Data_Analyst_Fresher_Resume.pdf',
 'Day 46-50 of ‡§™‡§æ‡§™‡§æ ‡§ï‡•Ä playlist üìª....Posting daily until we reach 50k followers üå∏.mp4',
 'debug.log',
 'desktop.ini',
 'DocScanner 13 Nov 2025 8-50\u202fpm_page-0001.jpg',
 'DocScanner 9 Nov 2025 12-14\u202fpm_compressed-compressed.pdf',
 'DocScanner 9 Nov 2025 12-14\u202fpm_compressed.pdf',
 'DocScanner 9 Nov 2025 12-14\u202fpm_compressed_compressed.pdf',
 'downloadfront2.png',
 'Downloads - Shortcut.lnk',
 'elementor.3.30.3 (1).zip',
 'elementor.3.30.3.zip',
 'Equality Table - Classified.xlsx',
 'Evaluation 2 .mp4',
 'Expanded_data_with_more_features.csv.zip',
 'final internship report.pdf',
 'final overleaf Nutrie quest.pdf',
 'Form8_preview (1).pdf',
 'Form8_preview.pdf',
 'FORMAT.pdf',
 'Freedomü§°...[ Students, school, college, exams, aspirants, upsc, ssc, iit, jee, neet, Sunday, ne.mp4',
 'Gemini_Generated_Image_hx1kolhx1kolhx1k.png',
 'Gemini_Generated_Image_phkf1zphkf1zphkf.png',
 'getting-started-with-artificial-intelligence.png',
 'Git-2.51.0-64-bit.exe',
 'grocery1.sql',
 'HCL-Python-Interview-Questions-for-Freshers-Updated-2025.docx.pdf',
 'IBMDesign20250720-25-aftmqa.pdf',
 'IBMDesign20250720-27-b3zuvs.pdf',
 'IBMDesign20250720-27-cengch.pdf',
 'IBMDesign20250720-28-xbobjs.pdf',
 'ilovepdf_merged.docx',
 'ilovepdf_merged.pdf',
 'imagecompressor (1).zip',
 'imagecompressor (2).zip',
 'imagecompressor.zip',
 'index.html',
 'Introduction to JavaScript.pdf',
 'invite (1).ics',
 'invite (2).ics',
 'invite.ics',
 'JEE Result.docx',
 'kashish adhar_page-0001.jpg',
 'Kashish_Firoz_Blinkit_Resume.pdf',
 'Kashish_Firoz_Blinkit_Resume_OnePage.pdf',
 'Kashish_Firoz_Management_Trainee_Resume.docx',
 'Key Terms in Web Development_EN.pdf',
 'lNG.HTML',
 'MicrosoftWindows.Client.CBS_cw5n1h2txyewy!InputApp',
 'mongodb-windows-x86_64-8.0.13-signed.msi',
 'Mujhse mai rutha..#reelsofIndia #reelsvideo #reelitfeelit #reelkarofeelkaro #reels #viralreels #.mp4',
 'mysql-installer-community-8.0.44.0.msi',
 'mysql-installer-web-community-8.0.43.0.msi',
 'New tab.html',
 'New tab_files',
 'node-v22.19.0-x64.msi',
 'NutriQuest-main',
 'NutriQuest-main.zip',
 'NutriQuest_Project_Presentation.pptx',
 'NutriQuest_Project_Presentation_Attractive.pptx',
 'OD223019447594663000.pdf',
 'Offer - Adnan Ali - NYOL5192.pdf',
 'offer_letter (1).pdf',
 'offer_letter.pdf',
 'OpenJDK21U-jdk_x64_windows_hotspot_21.0.7_6 (1).msi',
 'OpenJDK21U-jdk_x64_windows_hotspot_21.0.7_6.msi',
 'PBL Certificate - Adnan ali (1).pdf',
 'PBL Certificate - Adnan ali.pdf',
 'piclumen-1753680891564.png',
 'piclumen-1753680895740.png',
 'piclumen-1753681594829.png',
 'Presentation.pdf',
 'python-3.14.0-amd64.exe',
 'Reelo.html',
 'Reelo_files',
 'references.bib',
 'Reseach Paper New.docx',
 'resgis.pdf',
 'Royal Sundaram.html',
 'Royal Sundaram_files',
 'rydhgjzn.png',
 'SafeBrowserLauncher.seb',
 'screening_MXCGNESM.screening',
 'Screenshot 2025-11-11 001806.png',
 'Screenshot 2025-11-13 210945.png',
 'sd-banner.jpeg',
 'SEB_3.7.0.682_SetupBundle.exe',
 'SHAREit',
 'SpotifySetup.exe',
 'ssss.sql',
 'STU683acc10e90e61748683792.pdf',
 'student testimonial.pdf',
 'style.css',
 'tablue.png',
 'Task 5 Equality Table.xlsx',
 'TCS-HackQuest-Season10-Round1 (1).ics',
 'TCS-HackQuest-Season10-Round1.ics',
 'Telegram Desktop',
 'The Conjuring Last Rites Full HD UHD 4k Quality (2025) 720p.mkv.crdownload',
 'TOC for  Python (2) (1).pdf',
 'TOC for  Python (2).pdf',
 'tsetup-x64.5.16.1.exe',
 'unit 1st wt.pdf',
 'Unit 2- CSS_lms.pdf',
 'unstopsmarthire-2.2.0.exe',
 'Use CSS to style a web page simulation transcript_EN.pdf',
 'vidu-video-2881037466353924.mp4',
 'vidu-video-2881039363549775 (1).mp4',
 'vidu-video-2881039363549775.mp4',
 'vidu-video-2881041663037592.mp4',
 'vidu-video-2881043884670600.mp4',
 'VisualStudioSetup.exe',
 'Weather_Application_Project_Report.docx',
 'web-development-fundamentals (1).png',
 'web-development-fundamentals.png',
 'WhatsApp Image 2025-11-07 at 21.58.24_9f16318b.jpg',
 'WhatsApp Image 2025-11-13 at 20.58.48_abffaa77.jpg',
 'WhatsApp Installer.exe',
 'whatsapp-image-2025-09-05-at-14-21-36-2--1024x1024.avif',
 'WhatsApp3.jpg',
 'WhatsApp_Image_2025-08-06_at_15.56.59_b5b6fe95-removebg-preview.png',
 'wireguard-installer (1).exe',
 'wireguard-installer.exe',
 'young_turks25_round_1_achievement.pdf',
 'Youtube Infosys.pdf',
 '‡§∏‡§§‡§∞‡§Ç‡§ó‡•Ä ‡§¨‡§∞‡§∏‡§æ‡§§‡•ã‡§Ç ‡§Æ‡•á‡§Çüíï.............{Neele Neele Ambar par , Kishore Kumar ,90s love }Keywords (exp.mp4',
 '‡§∏‡§§‡•ç‡§Ø ‡§è‡§ï‡§æ‡§Ç‡§§ ‡§π‡•Ä ‡§∞‡§π‡•á‡§ó‡§æ ‚ô•Ô∏è....#life #mountains #peace #himachal.mp4']

In [51]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Kashish\Downloads\customer_shopping_behavior.csv")
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [53]:
df.describe(include="all")

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [54]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [55]:
df['Review Rating']=df.groupby('Category')['Review Rating'].transform(lambda x:x.fillna(x.median()))

In [56]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [57]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df=df.rename(columns={ 'purchase_amount_(usd)':'purchase_amount'})

In [27]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [58]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [59]:
#create a columns age_group
labels=['Young Adult','Adult','Middle-aged','Senior']
df['age_group']=pd.qcut(df['age'],q=4,labels=labels)

In [60]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [61]:
#create column purchase_frequency_days
frequency_mapping={
    'Fortnightly':14,
    'Weekly':7,
    'Monthly':30,
    'Quarterly':90,
    'Bi-Weekly':14,
    'Annually':365,
    'Every 3 Months':90
}
df['purchase_frequency_days']=df['frequency_of_purchases'].map(frequency_mapping)

In [62]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [63]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [64]:
(df['discount_applied']==df['promo_code_used']).all()

np.True_

In [67]:
df=df.drop('promo_code_used',axis=1)
df.columns

KeyError: "['promo_code_used'] not found in axis"

In [29]:
!pip install pymysql sqlalchemy

Requirement already satisfied: pymysql in c:\users\kashish\envs\pymysql_env\lib\site-packages (1.1.2)
Requirement already satisfied: sqlalchemy in c:\users\kashish\envs\pymysql_env\lib\site-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in c:\users\kashish\envs\pymysql_env\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kashish\envs\pymysql_env\lib\site-packages (from sqlalchemy) (4.15.0)

In [30]:
import pandas as ps 
from sqlalchemy import create_engine
from pandas.io import sql

In [31]:
df=pd.read_csv("customer_shopping_behavior-Copy1.csv")

In [38]:
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [33]:
enginer=create_engine("mysql+pymysql://{user}:{pw}@localhost:3306/{db}"
                      .format(user="root",
                              pw="Adnan@2003",
                              db="customer_behaviour"))

In [34]:
df.to_sql(con=engine,name="customer",if_exists="replace")

3900

In [35]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Kashish\Downloads\customer_shopping_behavior.csv")
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [36]:
df.to_sql(
    name="customer",
    con=engine,
    if_exists="replace",
    index=False
)

3900

In [37]:
pd.read_sql("SELECT * FROM customer LIMIT 5;", engine)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually